Baseado totalmente em probabilidades

Teorema de bayes

p(a|b) =p(b|a)*p(a) / p(b)<br>
probabilidade de um evento 'A' ocorrer dado q ocorreu 'B'

In [2]:
# dado que voce tem minigite a probabilidade de ter torcicolo e 50%
# miniginte 1/50000
# torcicolo 1/20
# p(m|t), quando estou com torcicolo, quai as chances de estar com minigite

ambas = 0.5
m=1/50000 # a
t=1/20 # b

p = (ambas*m)/t 
p

0.0002

Redes Baysiana

combinamos as probabilidades em uma rede

Nayve Bayes: tem o atributo A, no qual e calculado a probabilidade pelo total das intancias observadas<br>
<b>Probabilidade Risco de credito ser Alto(Risco e minha classe):</b> 14 registros e 6 sao altos<br><br>
assim conscutivamente montando um tabelao de probabilidades, ex <br><br>
Probabilidade de Risco de credito alto sabendo q a historia e Alta,moderada,ruim e tambem para as outras colunas olhando sempre todas as possibilidades para cada risco e cada atributo <br>
por fim faz uma multiplicação das probabilidades<br>
naive bayes os atributos sao independentes e nao em conjunto

In [3]:
import pandas as pd
import numpy as np 
import seaborn as sn 

df = pd.read_excel('credito.xlsx')
df.head(3)

   Historia   Divida  Garantia    Renda  Risco
0         3    10000         1    30000      0
1         3   561231         1    70000      0
2         3  1112462         1  4523000      0

Hitoria: 3(BOA),2(RUIM),0(Desconhecida)<br>
Risco:0(Baixo),2(moderado),3(Alto)

In [4]:
df

   Historia   Divida  Garantia     Renda  Risco
0         3    10000         1     30000      0
1         3   561231         1     70000      0
2         3  1112462         1   4523000      0
3         3  1663693         1   6034000      0
4         3  2214924         1   8280500      0
5         3  2766155         1  10527000      0
6         0     1000         0      1000      3
7         0    10000         0      8000      2
8         0    10000         0     10000      2
9         2     2000         1      3000      2

In [9]:
df.iloc[:,[0,4]].value_counts()

Historia  Risco
3         0        6
0         2        2
          3        1
2         2        1
dtype: int64

In [23]:
x =  df.iloc[:,:4].values
y =  df.iloc[:,4].values

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=777)

In [25]:
nv = GaussianNB()
nv.fit(x_train,y_train)

GaussianNB()

In [30]:
df

   Historia   Divida  Garantia     Renda  Risco
0         3    10000         1     30000      0
1         3   561231         1     70000      0
2         3  1112462         1   4523000      0
3         3  1663693         1   6034000      0
4         3  2214924         1   8280500      0
5         3  2766155         1  10527000      0
6         0     1000         0      1000      3
7         0    10000         0      8000      2
8         0    10000         0     10000      2
9         2     2000         1      3000      2

In [38]:
from sklearn.metrics import  confusion_matrix,accuracy_score,classification_report

pred = nv.predict(x_test)
confusion_matrix(y_test,pred)

array([[2, 0],
       [0, 1]], dtype=int64)

In [41]:
nv.predict_proba(x_test) # probabilidade de pertencer a cada classe 0,2,3

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.00000000e+00, 6.12379716e-15, 0.00000000e+00],
       [1.30724440e-06, 9.99998693e-01, 0.00000000e+00]])

In [40]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         2
           2       1.00      1.00      1.00         1

    accuracy                           1.00         3
   macro avg       1.00      1.00      1.00         3
weighted avg       1.00      1.00      1.00         3