In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn 
import os

In [2]:
os.chdir(r'C:\Users\Familia\Documents\Projetos\Src')

In [7]:
df = pd.read_csv('compras.txt',sep="\t",names=['id_client','value_buy','date'])
df.head()

   id_client  value_buy        date
0        760       25.0  2009-11-06
1        860       50.0  2012-09-28
2       1200      100.0  2005-10-25
3       1420       50.0  2009-07-09
4       1940       70.0  2013-01-25

In [8]:
df.describe()

           id_client     value_buy
count   51243.000000  51243.000000
mean   108934.547938     62.337195
std     67650.610139    156.606801
min        10.000000      5.000000
25%     57720.000000     25.000000
50%    102440.000000     30.000000
75%    160525.000000     60.000000
max    264200.000000   4500.000000

In [11]:
pd.cut(df['value_buy'],bins=30)

0        (0.505, 154.833]
1        (0.505, 154.833]
2        (0.505, 154.833]
3        (0.505, 154.833]
4        (0.505, 154.833]
               ...
51238    (0.505, 154.833]
51239    (0.505, 154.833]
51240    (0.505, 154.833]
51241    (0.505, 154.833]
51242    (0.505, 154.833]
Name: value_buy, Length: 51243, dtype: category
Categories (30, interval[float64, right]): [(0.505, 154.833] < (154.833, 304.667] < (304.667, 454.5] < (454.5, 604.333] ... (3900.667, 4050.5] < (4050.5, 4200.333] < (4200.333, 4350.167] < (4350.167, 4500.0]]