In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn 
import os

In [2]:
os.chdir(r'C:\Users\Familia\Documents\Projetos\Src')

In [7]:
df = pd.read_csv('compras.txt',sep="\t",names=['id_client','value_buy','date'])
df.head()

   id_client  value_buy        date
0        760       25.0  2009-11-06
1        860       50.0  2012-09-28
2       1200      100.0  2005-10-25
3       1420       50.0  2009-07-09
4       1940       70.0  2013-01-25