Versao simplificada do apriori<br>
utiliza somente suporte

In [1]:
from pyECLAT import Example1,ECLAT
dados = Example1().get()
dados.head()

       0      1       2       3
0   milk   beer   bread  butter
1  coffe  bread  butter     NaN
2  coffe  bread  butter     NaN
3   milk  coffe   bread  butter
4   beer    NaN     NaN     NaN

In [3]:
ec = ECLAT(data=dados)
ec.df_bin

   butter  bean  bread  rice  milk  coffe  beer
0       1     0      1     0     1      0     1
1       1     0      1     0     0      1     0
2       1     0      1     0     0      1     0
3       1     0      1     0     1      1     0
4       0     0      0     0     0      0     1
5       1     0      0     0     0      0     0
6       0     0      1     0     0      0     0
7       0     1      0     0     0      0     0
8       0     1      0     1     0      0     0
9       0     0      0     1     0      0     0

In [5]:
indices,suport = ec.fit(min_support=0.3,
                        max_combination=4,
                        min_combination=2)
indices #mostra o indice que apareceu

Combination 2 by 2

3it [00:00, 120.32it/s]

Combination 3 by 3

1it [00:00, 100.19it/s]

Combination 4 by 4

0it [00:00, ?it/s]

{'butter & bread': [0, 1, 2, 3],
 'butter & coffe': [1, 2, 3],
 'bread & coffe': [1, 2, 3],
 'butter & bread & coffe': [1, 2, 3]}

In [6]:
suport

{'butter & bread': 0.4,
 'butter & coffe': 0.3,
 'bread & coffe': 0.3,
 'butter & bread & coffe': 0.3}