Comparar 3 ou mais grupos

uma variavel quantitativa<br>
uma ou mais vairiaveis qualçitativas<br>
precisa estar dentro da distribuicao normal

Vairação entre cada grupos

In [2]:
import pandas as pd 
import numpy as np 

t = {'A':[165,152,143,140,155],'B':[130,169,164,143,154],'C':[163,158,154,149,156]}
d = pd.DataFrame(t)
d

     A    B    C
0  165  130  163
1  152  169  158
2  143  164  154
3  140  143  149
4  155  154  156

In [3]:
d.loc['media'] = np.mean(d)
d

c:\Users\Familia\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

           A      B      C
0      165.0  130.0  163.0
1      152.0  169.0  158.0
2      143.0  164.0  154.0
3      140.0  143.0  149.0
4      155.0  154.0  156.0
media  151.0  152.0  156.0

In [4]:
media_geral = d.loc['media'].mean()

s = (d.loc['media','A']-media_geral)**2,(d.loc['media','B']-media_geral)**2,(d.loc['media','C']-media_geral)**2
s = np.sum(s)
s

14.0

In [5]:
ngrupos =3
nobs = 5 #quantidade de registros 
ssg = s*nobs #soma do quadrado group
dfg = ngrupos-1 # graus de liberdade 
# depois pega a diferenca dos valores de cada grupo - media do grupo eleva ao quadadrao e soma essa diferenca

In [6]:
# soma do quadrado dos erros
sse_a=398
sse_b=1002
sse_c=106
sse = sse_a+sse_b+sse_c
dfe_matriz= (nobs-1)*ngrupos

In [7]:


p1=ssg/dfg
p2= sse/dfe_matriz
f = p1/p2
f

0.2788844621513944

In [8]:
from scipy import stats 

stats.f.ppf(1 -0.05,dfn=dfg,dfd=dfe_matriz)# pois estamos trabalhando com a parte direita da distribuicao

3.8852938346523933

In [65]:
_,p=stats.f_oneway(d.loc[:4,'A'],d.loc[4:,'B'],d.loc[4:,'C']) #anova, uma variavel,f_twoway mais variaveis

p

0.7710039739309718

In [ ]:
p<=0.05 # negamos Ha

False

 para verrificar onde esta a variacao usamos o teste de tukey

In [36]:
list(np.tile('a',6))

['a', 'a', 'a', 'a', 'a', 'a']

In [61]:
dados = {'val':[1,3,33,5,60,70,80,90,100],'grupo':['a','a','b','b','c','c','c','c','c']}
dados
d2 = pd.DataFrame(dados)
d2

   val grupo
0    1     a
1    3     a
2   33     b
3    5     b
4   60     c
5   70     c
6   80     c
7   90     c
8  100     c

In [62]:
from statsmodels.stats.multicomp import MultiComparison 
compara = MultiComparison(d2['val'],d2['grupo'])
compara

In [63]:
print(compara.tukeyhsd()) # nesse caso o C , possui uma varicao diferente no qual tendencia de escolha esta em c
# existe diferenca significativa entre A e C  & C e B

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     a      b     17.0 0.5401 -29.7681 63.7681  False
     a      c     78.0 0.0021   38.871 117.129   True
     b      c     61.0 0.0073   21.871 100.129   True
-----------------------------------------------------

### selecao de atributos com anova

In [76]:
from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectFdr,f_classif #anova

iris = load_iris()

In [77]:
x=iris.data
y=iris.target

In [79]:
sel = SelectFdr(f_classif,alpha=0.01)
x_nv = sel.fit_transform(x,y)
sel.pvalues_ <=0.01

array([ True,  True,  True,  True])